* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Home.js */
.room-join-buttons {
  margin: 1rem;
  padding: 0.5rem;
}
.home-header {
  text-align: center;
  margin: 1rem;
  margin-top: 100px;
}
.create-room {
  display: block;
  justify-content: space-between;
  height: 100vh;
}

.avatars {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose__avatar {
  font-size: 28px;
}

.avatar__container {
  margin-left: 5px;
  /* border: 1px solid black; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 510px;
  justify-content: space-evenly;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.avatar__select {
  padding: 5px;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}
.avatar__select:hover {
  filter: brightness(50%);
}
.avatar-selected {
  filter: brightness(50%);
}

.form_info {
  flex: 5;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin-left: 450px;
}
.room-input {
  margin: 1rem;
  padding: 0.5rem;
}
.name-input {
  padding: 0.5rem;
}

/* Lobby.js */

.lobby {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  margin-top: 40px;
}
.lobby::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url("./assets/back.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}

.title {
  align-self: center;
}

.room-settings {
  position: relative;
  flex: 3;
  color: white;
  width: 400px;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(195, 120, 120, 0.5);
  border-radius: 25%;
}

.settings__title {
  font-family: "Myriad Pro", "Arial", sans;
  font-size: 3rem;
  align-self: center;
}

.settings__subtitle {
  font-family: "Myriad Pro", "Arial", sans;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.setting__select {
  font-size: 1rem;
  position: relative;
  min-height: 2em;
  max-height: 2em;
  top: 0.5em;
  cursor: pointer;
  text-align: left;
  outline: none;
  border: 0.06em solid transparent;
  border-radius: 1em;
  transition: 0.3s all ease-in-out;
  padding-left: 10px;
}

.share__button {
  font-family: "Bree Serif", serif;
  letter-spacing: 2px;
}

.share__button:hover span {
  display: none;
}

.share__button:hover::before {
  content: "Copy Room Id";
}

.start {
  flex: 4;
  align-self: center;
  margin-left: 150px;
  max-width: 300px;
  max-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: none;
  border-radius: 5rem;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.start::before {
  content: "";
  border-radius: 5rem;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.start:hover {
  transform: translateY(-6px);
}
.start:hover::before {
  opacity: 1;
}
.start:focus {
  transform: translateY(-6px);
}
.start:focus::before {
  opacity: 1;
}

.lobby__info {
  display: flex;
}

.players {
  font-size: 10px;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: flex-end;
}
.player_show {
  flex: 1;
  display: grid;
  justify-items: center;
}
.player__avatar {
  width: 5.5rem;
  height: auto;
  cursor: pointer;
  width: min(12.5em, 100%);
  min-width: 7.5em;
  transition: ease-in-out;
}
.player__avatar:hover {
  transform: scale(125%);
}

/* Chat.js */
div {
  margin: 1rem 0.5rem;
}

.chat-header {
  margin: 1rem;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  float: right;
  padding-right: 300px;
  width: 700px;
}

button {
  margin-left: 0.5rem;
}

/* Messages.js */
.message-list {
  max-width: 500px;
  width: 100%;
}

.message-container {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-bottom: 1px solid #eeeeee;
}

.user,
.date {
  font-size: 0.625rem;
  color: #888888;
}

.user {
  min-width: 120px;
}

.message {
  flex-grow: 1;
  width: 200px;
  overflow-wrap: break-word;
  padding-right: 20px;
}

/* MessageInput.js */
.chat-box {
  max-width: 500px;
  width: 100%;
}

.message-input {
  width: 100%;
  padding: 0.5rem;
}

/* Canvas.js */
.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  margin-left: 100px;
  max-width: 500px;
}

#drawing-area {
  border: 1px solid black;
  margin: 1rem 0;
}

.canvas-container__tools {
  display: block;
  justify-content: center;
  align-items: center;
}

.canvas-container__tools__basic {
  display: flex;
}

.tool {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  margin: 0 0.5rem;
}

.color-picker {
  display: flex;
  justify-content: center;
}

.paint-red {
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.paint-black {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.paint-blue {
  background-color: rgb(0, 0, 255);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.paint-green {
  background-color: rgb(0, 156, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.paint-yellow {
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.paint-orange {
  background-color: rgb(255, 128, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.paint-magenta {
  background-color: rgb(255, 0, 255);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
